/* Meja.css */

.meja-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  margin-top: 5rem;
}

.button-meja button {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 3px black;
  color: black;
  font-family: monospace;
  transition: 0.5s;
  color: white;
  width: 100%;
}

.button-meja button:hover,
.btn-update:hover,
.btn-hapus-meja:hover,
.btn-bayar:hover {
  background-color: black;
  color: white;
}

.btn-update {
  width: 12%;
  text-align: center;

  background-color: #007bff;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  transition: 0.5s;
}
.btn-hapus-meja {
  width: 12%;
  text-align: center;

  background-color: #dc3545;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  transition: 0.5s;
}
.container-card {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.btn-bayar {
  text-align: center;

  background-color: green;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  transition: 0.5s;
}

.button-meja-bottom {
  justify-content: center;
  display: flex;
  transform: translate(0, -50px);
  gap: 1rem;
}
