.container-home {
  display: flex;
}

.container-home .left-page {
  width: 20%;
}

.container-home .center-page {
  width: 80%;
}

.daftar-menu-text {
  display: none;
}

@media (max-width: 1000px) {
  .container-home {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-home .left-page {
    width: 70%;
    margin-bottom: 2rem;
  }
  .container-home .list-menu-text {
    display: none;
  }
  .daftar-menu-text {
    text-align: center;
    display: block;
  }

  .container-home .center-page {
    width: 100%;
  }

  .container-home .right-page {
    display: none;
  }

  .center-page h1 {
    display: none;
  }
}
